<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/info.css"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style = "width: 100vw; height: 100vh;">
        <label id = "head-label">
            Order Details
        </label>
        <div id = "wrapper-div">
            <div id = "main-div">
                <div id = "top-div">
                    <label id = "order-id-label">
                        Order ID: #{{ order.formattedid }}
                    </label>
                    <label id = "order-date-placed-label">
                        Next Replacement: {{ reminder.formatteddate }}
                    </label>
                    <div id = "order-status-div">
                        <label class = "order-status-label status-color-green">Active</label>

                        {% if order.status == 0 %}
                            <label class = "order-status-label status-color-green">Up To Date</label>
                        {% elif order.status == 1 %}
                            <label class = "order-status-label status-color-grey">In Process</label>
                        {% elif order.status == 2 %}
                            <label class = "order-status-label status-color-yellow">Replacement Soon</label>
                        {% elif order.status == 3 %}
                            <label class = "order-status-label status-color-red">Replacement Needed</label>
                        {% endif %}
                    </div>
                </div>
                <div id = "lower-div">
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Contractor
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Contractor Name:</label>
                            <label class = "info-table-value">{{ customer.fullname }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Contractor Email:</label>   
                            <label class = "info-table-value">{{ customer.email }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Contractor Company:</label>   
                            <label class = "info-table-value">{{ customer.company }}</label>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Order
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Order Registered:</label>
                            <label class = "info-table-value">{{ order.placed }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Original Install:</label>
                            <label class = "info-table-value">{{ order.originalinstall }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Most Recent Install:</label>
                            <label class = "info-table-value">{{ order.lastchanged }}</label>
                        </div>
                        {% if order.status == 1 %}
                            <div class = "info-table-row">
                                <label class = "info-table-key">Next Install:</label>
                                <label class = "info-table-value">AWAITING PROCESSING</label>
                            </div>
                            <div class = "info-table-row">
                                <label class = "info-table-key">Days Until Next Install:</label>
                                <label class = "info-table-value">AWAITING PROCESSING</label>
                            </div>
                        {% else %}
                            <div class = "info-table-row">
                                <label class = "info-table-key">Next Install:</label>
                                <label class = "info-table-value">{{ reminder.date }}</label>
                            </div>
                            <div class = "info-table-row">
                                <label class = "info-table-key">Days Until Next Install:</label>
                                <label class = "info-table-value">{{ daysuntildue }}</label>
                            </div>
                        {% endif %}
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Product
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Item Name:</label>
                            <label class = "info-table-value">{{ product["name"] }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Item#:</label>
                            <label class = "info-table-value">{{ product["sku_uppercase"] }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Item Warranty:</label>
                            <label class = "info-table-value">{{ productwarranty }}</label>
                        </div>
                        <div class = "info-table-row">
                            <a class = "info-table-link" href = "/pages/items/view/{{ order.sku }}">View Product Information</a>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Location
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Address:</label>
                            <label class = "info-table-value">{{ order.address }}</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Home Phone #:</label>
                            <label class = "info-table-value">{{ order.homephone }}</label>
                        </div>
                        <div class = "info-table-row">
                            <a class = "info-table-link" href = "{{ order.locationLink }}">Go To Address</a>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            History
                        </label>
                        {% for event in history %}
                            <div class = "info-table-row">
                                <label class = "info-table-key">{{ event.content }}</label>
                                <label class = "info-table-value">{{ event.date }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Actions
                        </label>
                        <div class = "info-table-row">
                            <a class = "info-table-link" href = "/pages/update/{{ order.id }}">Register Maintence Update</a>
                            <a class = "info-table-link" href = "/api/order/{{ order.id }}/delete">Remove Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>