<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/info.css"/>
        <link rel = "stylesheet" href = "info.css"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style = "width: 100vw; height: 100vh;">
        <label id = "head-label">
            Order Details
        </label>
        <div id = "wrapper-div">
            <div id = "main-div">
                <div id = "top-div">
                    <label id = "order-id-label">
                        Order ID: #102312
                    </label>
                    <label id = "order-date-placed-label">
                        Tues, November 11th, 2024
                    </label>
                    <label id = "order-status-label">
                        Active
                    </label>
                </div>
                <div id = "lower-div">
                    <div id = "customer-info-div">
                        <i id = "customer-user-icon" class="fa fa-user-o" aria-hidden="true"></i>
                        <label id = "customer-label">
                            Customer
                        </label>
                        <label id = "customer-name-label">
                            <span style = "color: #919191;">Name:</span> Landry M. King
                        </label>
                        <label id = "customer-email-label">
                            <span style = "color: #929292;">Email:</span> lanmanking@yahoo.com
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>