<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/info.css"/>
        <link rel = "stylesheet" href = "info.css"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style = "width: 100vw; height: 100vh;">
        <label id = "head-label">
            Order Details
        </label>
        <div id = "wrapper-div">
            <div id = "main-div">
                <div id = "top-div">
                    <label id = "order-id-label">
                        Order ID: #102312
                    </label>
                    <label id = "order-date-placed-label">
                        Tues, November 11th, 2024
                    </label>
                    <div id = "order-status-div">
                        <label class = "order-status-label status-color-green">
                             Active
                        </label>
                        <label class = "order-status-label status-color-red">Needs Maintence</label>
                        <label class = "order-status-label status-color-grey">In Process</label>
                        <label class = "order-status-label status-color-yellow">Maintence Soon</label>
                    </div>
                </div>
                <div id = "lower-div">
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Customer
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Customer Name:</label>
                            <label class = "info-table-value">Landry M. King</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Customer Email:</label>
                            <label class = "info-table-value">lanmanking@yahoo.com</label>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Order
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Order Placed:</label>
                            <label class = "info-table-value">11/13/2024</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Original Install:</label>
                            <label class = "info-table-value">11/13/2024</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Most Recent Install:</label>
                            <label class = "info-table-value">11/18/2027</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Next Install:</label>
                            <label class = "info-table-value">11/18/2030</label>
                        </div>
                        <div class = "info-table-row">
                            <a class = "info-table-link" href = "update.html">Update Replacement Status</a>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            Location
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Address:</label>
                            <label class = "info-table-value">9538 Kingston Crossing Cir.</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">City/State:</label>
                            <label class = "info-table-value">Johns Creek, GA</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Zipcode:</label>
                            <label class = "info-table-value">30022</label>
                        </div>
                    </div>
                    <div class = "info-table-wrapper">
                        <label class = "info-table-header">
                            History
                        </label>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Order Created</label>
                            <label class = "info-table-value">11/13/2024</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Reminder scheduled 11/13/2027</label>
                            <label class = "info-table-value">11/13/2024</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Status set to "Needs Maintence"</label>
                            <label class = "info-table-value">11/13/2027</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Maintence reminder email sent</label>
                            <label class = "info-table-value">11/13/2027</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Status set to "All Good"</label>
                            <label class = "info-table-value">11/18/2027</label>
                        </div>
                        <div class = "info-table-row">
                            <label class = "info-table-key">Reminder scheduled 11/18/2030</label>
                            <label class = "info-table-value">11/18/2027</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>