<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" href = "login.css"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body style = "height: 100vh;">
        <div id = "login-div">
            <form action = "/pages/login" method = "post">
                <div>
                    <input type = "email" id = "email-input" class = "input-element" placeholder = "First Name" name = "form-email" required>
                    <input type = "text" id = "pword-input" class = "input-element" placeholder = "Last Name" name = "form-pword" required>
                    <button type = "submit" id = "submit-input" class = "input-element">Sign in</button>
                </div>
            </form>
        </div>
    </body>
</html>