@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
* {
    font-family: "Roboto", sans-serif;
}

body {

}

#login-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    width: 60%;

    padding: 32px;

    display: block;
}

.textbox {
    padding-left: 8px;
    margin-bottom: 10px;

    display: block;
}

.input-element {
    width: 100%;
    font-size: 20px;
    height: 40px;

    display: block;
    box-sizing: border-box;

    margin-bottom: 12px;
}

#signin-label {
    font-size: 32px;
    display: block;
    margin-bottom: 2px;
}

#signup-label {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

#signup-label a {
    text-decoration: none;
}

#email-input {
    
}

#pword-input {

}

#submit-input {
    -webkit-appearance: none;
    border-radius: 0;
    appearance: none;
}