<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/orders.css"/>
        <link rel = "stylesheet" href = "orders.css"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style = "width: 100vw; height: 100vh;">
        <div id = "main-div">
            <table id = "orders-table" class = "debug">
                <tbody>
                    <tr class = "table-row">
                        <td class = "table-item">
                            <div class = "item-wrapper">
                                <img class = "location-thumbnail" src = "https://maps.googleapis.com/maps/api/streetview?location=34.0130641,-84.2075124&size=600x480&fov=60&key=AIzaSyBQi69vJT0EvL2A2mX8aiKPCoHhELcQQvc"/>
                                <a class = "location-link" href = "https://www.google.com/maps/search/?api=1&query=9538+Kingston+Crossing+Circle,+Johns+Creek,+GA">Go to maps</a>
                                <label class = "order-label">Order #0001</label>
                                <label class = "location-label">Located at 9538 Kingston Crossing Cir.</label>
                                <label class = "next-change-label">Next Replacement Scheduled for: 11/4/2027</label>
                                <a class = "more-link" target = "_blank" href = "/pages/orders/1">See more</a>
                            </div>
                        </td>
                    </tr>
            </table>
        </div>
    </body>
</html>