<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/info.css"/>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style = "width: 100vw; height: 100vh;">
        <label id = "head-label">
            Update Order Information
        </label>
        <div id = "wrapper-div">
            <div id = "main-div">

            </div>
        </div>
    </body>
</html>