<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "static/stylesheets/login.css"/>
    </head>
    <body>
        <div id = "main-div" class = "debug">
            <form action = "/login" method = "post">
                <label id = "top-label"><b>View Your Orders</b></label>
                {% if failed == True %}
                    <label id = "fail-label">Failed to login! Please try again</label>
                {% endif %}
                <input type = "text" id = "fname-input" placeholder = "First Name" name = "form-fname" class = "textbox" required>
                <input type = "text" id = "lname-input" placeholder = "Last Name" name = "form-lname" class = "textbox" required>
                <input type = "email" id = "email-input" placeholder = "Email" name = "form-email" class = "textbox" required>
                <button type = "submit" id = submit-button>Login</button>
            </form>
        </div>
    </body>
</html>