* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, white, grey);
}

html {
    height: 100%;
}

#table {
    border-collapse: collapse;
    width: 100%;
    /* border: 5px solid greenyellow; */
}

#table-wrapper {
    height: 500px;
    overflow: auto;
    overflow-y: scroll;
    /*border: 5px solid greenyellow;*/
}

#action-div {
    /*border: 5px solid blue;*/
    height: 50px;
    display: flex;
    align-items: center;
}

#title-div {
    height: 50px;
    font-size: 36px;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
}

.action-buttons {
    cursor: pointer;
    width: 100px;
    height: 24px;
    transition-duration: .25s;
    border: 1px solid #d7d7d7;
    background-color: white;
    margin-left: 10px;
}

.action-buttons:hover {
    background-color: #d7d7d7;
}

#search-button {
    width: 60px;
}

#edit-button {
    width: 60px;
}

#delete-button {
    width: 60px;
}

#main-div {
    /*border: 5px solid red;*/
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #dddddd;
    background-color: white;
}

#search-row {
    visibility: collapse;
}

#table td, th {
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: #404040;
}

#table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

#table thead {
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
}

#table thead tr {
    border-top: 1px solid #dddddd;
}

.search-box {
    height: 18px;
}

.checkmark {
    cursor: pointer;
}