@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(255, 255, 255);
}

#wrapper-div {
    display: flex;
    align-items: center;

    position: absolute;

    width: 100%;
    height: calc(100% - 150px);
    padding: 0;
    margin: 0;
}

#main-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    width: 90%;
    height: 925px;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    display: block;

    padding-left: 54px;
    padding-right: 54px;

    background-color: white;
}

#label-signin {
    position: relative;
    display: flex;

    top: 52px;

    font-size: 72px;
}

#link-signup {
    position: relative;
    display: flex;

    top: 60px;
    font-size: 40px;
}

#link-signup a {
    text-decoration: none;
    color: rgb(12, 98, 226);;
}

#label-email {
    position: relative;
    display: flex;
    top: 100px;
}

#input-email {
    position: relative;
    display: flex;
    top: 110px;
}

#label-password {
    position: relative;
    top: 150px;
}

#input-password {
    position: relative;
    top: 160px;
}

#input-submit {
    position: relative;
    top: 250px;
}

.input-label {
    font-size: 40px;
    width: 100%;
}

.input-text {
    font-size: 48px;

    border: 2px solid grey;
    border-radius: 8px;
    padding-left: 16px;

    width: calc(100% - 16px);
    height: 110px;
}

.input-button {
    width: 100%;
    font-size: 58px;

    color: white;
    background-color: rgb(12, 98, 226);

    height: 116px;
    border-radius: 20px;
}