@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
* {
    font-family: "Roboto", sans-serif;
}

#main-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    height: 400px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 42px;
    border-radius: 4px;
    background-color: white;
    justify-content: center;
    display: flex;
}

.debug {
    /*border: 5px solid green;*/
}

#top-label {
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: left;
    text-align: left;
}

#sub-label {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 4px;
}

#fail-label {
    font-size: 14;
    color: rgb(253, 33, 63);
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    vertical-align: top;
}

.textbox {
    font-size: 24px;
    height: 45px;
    border: 0;
    color: #404040;
    border-bottom: 1px solid #404040;
    background: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.textbox:focus {
    border: none;
    outline: none;
    color: black;
    border-bottom: 1px solid black;
}

#submit-button {
    display: block;
    margin: 0 auto;
    height: 56px;
    margin-top: 32px;
    cursor: pointer;
    border: none;
    width: 277px;
    font-size: 24px;
    border-radius: 4px;
    transition-duration: .25s;
    background-color: #08605F;
    border-radius: 4px;
    color: white;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

#fname-input {
    margin-top: 28px;
}

#submit-button:hover {
    background-color: #0d9492;
}

body {

}

html {
    height: 100%;
}